In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("twitter_training.csv")
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [3]:
df.shape

(74681, 4)

In [4]:
df1=pd.read_csv("twitter_validation.csv")
df1.head()

,3364,Facebook,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom’s great auntie as ‘Hayley can’t get out of bed’ and told to his grandma, who now thinks I’m a lazy, terrible person 🤣"
0,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
1,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
2,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
3,4433,Google,Neutral,Now the President is slapping Americans in the...
4,6273,FIFA,Negative,Hi @EAHelp I’ve had Madeleine McCann in my cel...

In [5]:
df.columns=['Id','Entity','Sentiment','Tweet']
df1.columns=['Id','Entity','Sentiment','Tweet']
df.head()

,Id,Entity,Sentiment,Tweet
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [6]:
df.isna().sum()

Id             0
Entity         0
Sentiment      0
Tweet        686
dtype: int64

In [7]:
df.duplicated().sum()

2700

In [8]:
df=df.dropna()
df=df.drop_duplicates()

In [9]:
df['Sentiment'].value_counts()

Negative      21698
Positive      19712
Neutral       17708
Irrelevant    12537
Name: Sentiment, dtype: int64

In [10]:
import re

In [11]:
def preprocess(tweet):
    tweet=tweet.lower()
    tweet=re.sub(r'http\S+|www\S+|https\S+',' ',tweet,flags=re.MULTILINE)
    tweet=re.sub(r'[^\x00-\x7F]+',' ',tweet)
    tweet=re.sub(r'[^a-zA-Z0-9\s]',' ',tweet)
    tweet = re.sub(r'\d+', ' ', tweet)
    tweet = re.sub(r'\s+', ' ', tweet).strip()
    tweet = re.sub(r"won\'t", "would not", tweet)
    tweet = re.sub(r"im", "i am", tweet)
    tweet = re.sub(r"Im", "i am", tweet)
    tweet = re.sub(r"can\'t", "can not", tweet)
    tweet = re.sub(r"don\'t", "do not", tweet)
    tweet = re.sub(r"shouldn\'t", "should not", tweet)
    tweet = re.sub(r"needn\'t", "need not", tweet)
    tweet = re.sub(r"hasn\'t", "has not", tweet)
    tweet = re.sub(r"haven\'t", "have not", tweet)
    tweet = re.sub(r"weren\'t", "were not", tweet)
    tweet = re.sub(r"mightn\'t", "might not", tweet)
    tweet = re.sub(r"didn\'t", "did not", tweet)
    tweet = re.sub(r"n\'t", " not", tweet)
    tweet = re.sub(r"\'re", " are", tweet)
    tweet = re.sub(r"\'s", " is", tweet)
    tweet = re.sub(r"\'d", " would", tweet)
    tweet = re.sub(r"\'ll", " will", tweet)
    tweet = re.sub(r"\'t", " not", tweet)
    tweet = re.sub(r"\'ve", " have", tweet)
    tweet = re.sub(r"\'m", " am", tweet)
    tweet = re.sub(r'unk' , ' ' , tweet)
    return tweet
df['Tweet'] = df['Tweet'].apply(preprocess)
df1['Tweet'] = df1['Tweet'].apply(preprocess)

In [12]:
df.sample(5)

,Id,Entity,Sentiment,Tweet
43705,10303,PlayerUnknownsBattlegrounds(PUBG),Irrelevant,happy turbo tuesday
4382,1954,CallOfDutyBlackopsColdWar,Positive,i can t wait to play the beta this weekend oh ...
14769,2930,Dota2,Irrelevant,noob is indog is the way
25250,4734,Google,Irrelevant,merlynjd merlyn see seriously quirky trio love...
56182,11242,TomClancysRainbowSix,Positive,i need to start work on how much i play i m te...

In [13]:
from nltk.stem import WordNetLemmatizer, SnowballStemmer, PorterStemmer

In [14]:
from nltk.corpus import stopwords
wnl=WordNetLemmatizer()
stemmer=SnowballStemmer('english')
p_stemmer=PorterStemmer()
stop_words=set(stopwords.words('english'))
stop_words=[w for w in stop_words if w not in ['no','not']]

In [15]:
def stemming(Tweet):
    words=Tweet.split()
    stem_words=[wnl.lemmatize(word) for word in words if word not in stop_words]
    return ' '.join(stem_words)

In [16]:
df['Tweet']=df['Tweet'].apply(stemming)
df1['Tweet']=df1['Tweet'].apply(stemming)

In [17]:
df.sample(5)

,Id,Entity,Sentiment,Tweet
9709,12873,Xbox(Xseries),Positive,nice watch xbox series x inch one
59570,3411,Facebook,Irrelevant,twitter twittersupport employee group demon gi...
51472,10435,RedDeadRedemption(RDR),Negative,last second summer red dead syndicate flawed g...
14572,2896,Dota2,Positive,cost largely deserve willing pay
35790,8145,Microsoft,Positive,jasmine work team engineer microsoft create so...

In [18]:
df_train=df[['Tweet','Sentiment']].copy()
df_vali=df1[['Tweet','Sentiment']].copy()

In [19]:
mapping={
    'Negative':0,
    'Neutral':2,
    'Positive':1
}
df_train=df_train[df_train['Sentiment'] != 'Irrelevant']
df_valid=df_vali[df_vali['Sentiment'] != 'Irrelevant']

df_train['Sentiment']=df_train['Sentiment'].map(mapping)
df_valid['Sentiment']=df_valid['Sentiment'].map(mapping)

C:\Users\Ankita\AppData\Local\Temp\ipykernel_4156\834455154.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_valid['Sentiment']=df_valid['Sentiment'].map(mapping)

In [20]:
tweet_train=df_train['Tweet'].values
senti_train=df_train['Sentiment'].values
tweet_valid=df_valid['Tweet'].values
senti_valid=df_valid['Sentiment'].values

In [21]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Flatten,Embedding,Activation,Dropout,SpatialDropout1D,Bidirectional,LSTM
from tensorflow.keras.layers import Conv1D,MaxPooling1D,GlobalAveragePooling1D,GlobalMaxPooling1D
from tensorflow.keras import optimizers
from tensorflow.keras.regularizers import l2
from tensorflow.keras import models, layers
from keras.optimizers import Adam

In [22]:
tokenizer=Tokenizer(num_words=10000, oov_token="<OOV>")
tokenizer.fit_on_texts(tweet_train)
train_seq=tokenizer.texts_to_sequences(tweet_train)
valid_seq=tokenizer.texts_to_sequences(tweet_valid)

max_len=100

x=pad_sequences(train_seq,maxlen=max_len,truncating='post')
x_valid=pad_sequences(valid_seq,maxlen=max_len,truncating='post')

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, senti_train, test_size=0.1, random_state=42)

In [24]:
x.shape

(59118, 100)

In [25]:
X_train = np.array(X_train)
X_test = np.array(X_test)
X_valid = np.array(x_valid)

train_labels = np.array(y_train) 
test_labels = np.array(y_test)
sentiment_list_val = np.array(senti_valid)

In [26]:
model = models.Sequential([
    Embedding(input_dim=10000, output_dim=200),
    layers.Bidirectional(layers.LSTM(128, return_sequences=True)),  
    layers.Bidirectional(layers.LSTM(64)),  
    layers.Dropout(0.3),
    layers.Dense(32, activation='relu'),  
    layers.Dropout(0.3),  
    layers.Dense(3, activation='softmax')  
])

opt = Adam(learning_rate=0.005)

model.compile(
    optimizer=opt,
    loss='sparse_categorical_crossentropy', 
    metrics=['accuracy']
)

In [27]:
history = model.fit(
    X_train, train_labels,
    validation_data=(X_test, test_labels),
    epochs=5,
    batch_size=512,
    verbose=1
)

Epoch 1/5
104/104 ━━━━━━━━━━━━━━━━━━━━ 105s 957ms/step - accuracy: 0.5614 - loss: 0.8957 - val_accuracy: 0.8204 - val_loss: 0.4572
Epoch 2/5
104/104 ━━━━━━━━━━━━━━━━━━━━ 100s 961ms/step - accuracy: 0.8606 - loss: 0.3708 - val_accuracy: 0.8584 - val_loss: 0.3525
Epoch 3/5
104/104 ━━━━━━━━━━━━━━━━━━━━ 104s 1s/step - accuracy: 0.9075 - loss: 0.2401 - val_accuracy: 0.8828 - val_loss: 0.3266
Epoch 4/5
104/104 ━━━━━━━━━━━━━━━━━━━━ 104s 1000ms/step - accuracy: 0.9254 - loss: 0.1847 - val_accuracy: 0.8818 - val_loss: 0.3516
Epoch 5/5
104/104 ━━━━━━━━━━━━━━━━━━━━ 108s 1s/step - accuracy: 0.9405 - loss: 0.1497 - val_accuracy: 0.8938 - val_loss: 0.3370

In [28]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ embedding (Embedding)                │ (None, 100, 200)            │       2,000,000 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ bidirectional (Bidirectional)        │ (None, 100, 256)            │         336,896 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ bidirectional_1 (Bidirectional)      │ (None, 128)                 │         164,352 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout (Dropout)                    │ (None, 128)                 │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense (Dense)                        │ (None, 32)                  │           4,128 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_1 (Dropout)                  │ (None, 32)                  │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 3)                   │              99 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 7,516,427 (28.67 MB)

 Trainable params: 2,505,475 (9.56 MB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 5,010,952 (19.12 MB)

In [29]:
test_loss, test_accuracy = model.evaluate(X_valid, sentiment_list_val)
print(f"Validation Accuracy: {test_accuracy * 100:.4f}%")

26/26 ━━━━━━━━━━━━━━━━━━━━ 1s 41ms/step - accuracy: 0.9433 - loss: 0.2643
Validation Accuracy: 94.0821%